.section-about {
    margin-top: 4em;
}

.about-title-header {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.about-title-header h3 h2 {
  display: block;
}

.about-title-header h3 {
    font-size: 1.6em;
    line-height: 2;
    position: relative;
    color: black;
}

.about-title-header h2 {
    font-size: 1.8em;
    color: black;
}

.about-title-header h3::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7;
    width: 80px;
    height: 3px;
    background-color: darkcyan;
}

.about-header {
    width: 100%;
    height: 77.5vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

.about-left {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border: 4px solid white;
}

.about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-right-top,
.about-right-bottom {
    flex: 1;
    width: 100%;
    min-width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-right-top {
    background-color: rgb(255, 255, 255);
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.about-right-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.about-right-bottom {
    background-color: rgb(255, 255, 255);
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.about-right-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

/* ================ main ================ */
.about-main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 2rem 4rem;
    box-sizing: border-box;
    gap: 2rem;
    background-color: #f2f9f8;
}

.about-main-left,
.about-main-right {
    width: 50%;
    height: auto;
    box-sizing: border-box;
}


.about-main-left {
    background-color: white;
    border: 2px solid darkcyan;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.about-main-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    max-width: 100%;
}

.about-main-right {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}


.about-main-right-title h3 {
    font-size: 1.5rem;
    color: black;
    margin: 0;
    line-height: 1.4;
    text-align: left;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.about-main-right-title h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 3px;
    background-color: darkcyan;
}

.about-main-right-paragraph p {
    font-size: 1rem;
    color: #333;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 10px;
}




@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {
    .about-header {
        flex-direction: column;
        padding: 1rem;
        height: auto;
    }

    .about-left {
        width: 100%;
        height: 50vh;
        border: 4px solid darkcyan;
    }

    .about-right {
        display: none;
    }

    /* ============= main =============== */
    .about-main {
        flex-direction: column;
        padding: 1.5rem 2rem;
        gap: 1.5rem;
    }

    .about-main-left,
    .about-main-right {
        width: 100%;
    }

    .about-main-left {
        height: 60vh;
        padding: 0rem;
    }

    .about-main-left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 19px;
    }

    .about-main-right {
        padding: 1rem 0;
        gap: 1rem;
    }

    .about-main-right-title h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .about-main-right-title h3::after {
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
    }

    .about-main-right-paragraph p {
        font-size: 0.95rem;
        text-align: justify;
    }
}
@media screen and (max-width: 480px) {}