.section-footer {
    background-color: #f3f3f3;
    padding: 1rem 2rem;
}

.footer-container.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container p {
    font-size: 0.95rem;
    color: #555;
    margin: 0;
}

.footer-link {
    color: darkcyan;
    text-decoration: none;
    font-weight: 500;
}

.footer-link:hover {
    text-decoration: underline;
}